@model Server.Models.Project

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";

    List<Server.Models.Git.TreeObject> tree = ViewBag.treeObjects;
}

<h1>Details</h1>

<div>
    <h4>Project</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Owner)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Owner.NormalizedUserName)
        </dd>
    </dl>
</div>

<div>
    <table class="table table-sm">
        @foreach(var item in tree)
        {
            <tr>
                <td>
                    @if(item.Type == "Tree")
                    {
                        <i class="fas fa-folder"></i>
                    } else
                    {
                        <i class="far fa-file-alt"></i>
                    }
                </td>
                <td>@item.Name</td>
                <td>@item.CommitMessage</td>
                <td>@item.When</td>
            </tr>
        }
    </table>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
